* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard-Black";
  src: url("statics/fonts/Pretendard-Black.woff");
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("statics/fonts/Pretendard-Bold.woff");
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("statics/fonts/Pretendard-ExtraBold.woff");
}

@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("statics/fonts/Pretendard-ExtraLight.woff");
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("statics/fonts/Pretendard-Light.woff");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("statics/fonts/Pretendard-Medium.woff");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("statics/fonts/Pretendard-Regular.woff");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("statics/fonts/Pretendard-SemiBold.woff");
}

@font-face {
  font-family: "Pretendard-Thin";
  src: url("statics/fonts/Pretendard-Thin.woff");
}

